*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
body{
    background: #f4f4f4;
}
header{
    width: 7.2rem;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 0.1rem;
    height: 0.5rem;
    z-index: 999;
}
header:after{
    content: '';
    clear: both;
    display: block;
}
header .logo{
    float: left;
    width: 1.13rem;
    height: 0.4rem;
    background: url("../images/sprites.png")no-repeat 0 -2.2rem;
    background-size: 4rem 4rem;
    margin-left: 0.1rem;
    margin-top: 0.0rem;
}
header input{
    float: left;
    border: none;
    width: 5rem;
    height: 0.4rem;
    margin-left: 0.08rem;
    border-radius: 0.2rem/0.15rem;
    background: white url("../images/sprites.png")no-repeat -0.8rem -1.74rem;
    background-size: 3.2rem 3.2rem;
    padding-left: 0.5rem;
    color: darkgray;
    line-height: 0.4rem;
    font-size: 0.12rem;
    outline: none;
    box-sizing: border-box;
}
header a{
    float: right;
    margin-right: 0.11rem;
    color: white;
    width: 0.55rem;
    height: 0.17rem;
    font-size: 0.16rem;
}
.swiper-container{
    width: 7.2rem;
    height: 3.5rem;
}
.swiper-container img{
    width: 100%;
}

/*nav*/
nav{
    width: 7.2rem;
    background: white;
    border-top: 0.01rem solid white;
    padding-bottom: 0.4rem;
}
nav ul:after{
    content: '';
    clear: both;
    display: block;
}
nav ul{
   margin-top: 0.3rem;
}
nav li{
    float: left;
    width: 1.2rem;
    margin-left: 0.6rem;
}
nav li a{
    display: block;
    width: 100%;
    font-size: 0.14rem;
    color: #666666;
    text-align: center;
}
nav li img{
    width: 1rem;
    height: 1rem;
    margin-left: 0.05rem;
    margin-bottom: 0.1rem;
}

/*’∆…œ√Î…±*/
.zhangshang{
    width: 7rem;
    margin: 0.2rem auto;
    background: white;
    padding-bottom: 0.4rem;
}
.zhangshang:after{
    content: '';
    clear: both;
    display: block;
}
.zhangshang .zhangshang_top:after{
    content: '';
    clear: both;
    display: block;
}
.zhangshang .zhangshang_top{
    padding-top: 0.1rem;
    margin-bottom: 0.3rem;
}
.zhangshang .zhangshang_top h2{
    float: left;
    background: url("../images/seckill-icon.png")no-repeat left top;
    background-size: 0.4rem 0.5rem;
    height: 0.5rem;
    font-size: 0.25rem;
    padding-left: 0.5rem;
    line-height: 0.5rem;
    font-weight: normal;
    color: #d04d55;
    margin-left: 0.1rem;
}
.zhangshang .zhangshang_top h2 p{
    color: black;
    float: right;
    margin-left: 0.2rem;
}
.zhangshang .zhangshang_top h2 p span{
    color: white;
    background: black;
    font-size: 0.25rem;
    display: inline-block;
    width: 0.4rem;
    height: 0.4rem;
    text-align: center;
    line-height: 0.4rem;
    margin-right: 0.05rem;
}
.zhangshang .zhangshang_top a{
    float: right;
    font-size: 0.3rem;
    color: black;
    margin-right: 0.1rem;
}
.zhangshang .zhangshang_box{
    float: left;
    text-align: center;
 }
.zhangshang .zhangshang_box:nth-of-type(3) img{
    border-right: 0.01rem solid #e0e0e0;
    border-left: 0.01rem solid #e0e0e0;
}
.zhangshang .zhangshang_box img{
    width: 1.5rem;
    height: 1.5rem;
    padding: 0 0.4rem;
}
.zhangshang .zhangshang_box p:first-of-type{
    font-size: 0.2rem;
    color: pink;
}
.zhangshang .zhangshang_box p:last-of-type{
    font-size: 0.2rem;
    color: gray;
    text-decoration: line-through;
}


.jingdong{
    width: 7rem;
    margin: 0 auto 0.2rem;
    background: white;
}
.jingdong:after{
    content: '';
    clear: both;
    display: block;
}
.jingdong h2{
    font-size: 0.25rem;
    color: #666666;
    font-weight: normal;
    border-bottom: 0.01rem solid #dfdfdf;
    padding: 0.25rem 0 0.15rem 0.2rem;
}
.jingdong h2 span{
    background: #d8505c;
    display: inline-block;
    width: 0.05rem;
    height: 0.25rem;
    margin-right: 0.1rem;
}
.jingdong img{
    float: left;
}
#jd img{
    float: right;
}#jd img:nth-of-type(1){
    border-left: 0.01rem solid #dfdfdf;
 }
.jingdong img:nth-of-type(1){
    width: 3.4rem;
    height: 3.46rem;
    border-right: 0.01rem solid #dfdfdf;
}
.jingdong img:nth-of-type(2){
    width: 3.55rem;
    height: 1.71rem;
    border-bottom: 0.01rem solid #dfdfdf;
}
.jingdong img:nth-of-type(3){
    width: 3.55rem;
    height: 1.71rem;
}
































